body {
    font-family: Open Sans,Arial,sans-serif;
    font-size: 14px;
    background-color: #fefefe;
    line-height: 1.7em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    top: 0;
    left: 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.bold-word{
  font-weight: 600;
}
.main-header h1{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;
    line-height: 1em;
    font-weight: bold;
    margin-left: 40px;
    display: inline-block;
}
.main-header-div{
  display: flex;
}
.main-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
  z-index: 10;
}
h1 a{
    text-decoration: none;
    color: #20292f;
}
.main-header{
    padding: 5px;
}
.main-header .container {
    display: flex;
    align-items: center;
  }
  .main-navigation {
    display: inline-block;
    vertical-align: middle;
    margin-left: 700px;
    position: fixed;
  }
  .main-navigation__item {
    display: inline-block;
    padding: 0.625rem;
    font-family:'Poppins', sans-serif;
    font-weight: bolder;
  }
  .main-navigation__item a {
    color: #20292f;
    text-decoration: none;
    font-size: 18px;
  }
  .main-navigation__item a:hover {
    color: #666666;
  }
  #main-footer{
    background-color: #000000;
    height: 70px;
}
.active a{
  color: #666666;
  font-weight: bold;
}
/* Footer Section */
.footer-section{
    display: flex;
    align-items: center;
    color: #ffffff;
}
.footer-section-text p{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 18px;
    color: #666666;
    font-weight: 500;
}
.footer-bolder-text{
    font-weight: 600;
}
.footer-section-icon a{
    color: #666666;
    font-size: 36px;
    margin-left: 25px;
}
.footer-section-icon{
    margin-left: 520px;
    display: flex;
    align-items: center;
    margin-top: 8px;
}